@import "tailwindcss";

/* Основные стили страницы */
html, body {
  @apply bg-[#121212] text-[#e4e4e4] antialiased overflow-x-hidden;
}

/* Стилизация скроллбара (для Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-[#1a1a1a];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#333333] rounded-full;
}

/* Опционально: эффект при наведении на скроллбар */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#444444];
}

.tilt-card {
  transform-style: preserve-3d;
}

:root {
  --accent: 59, 130, 246; /* По умолчанию синий (RGB) */
}


.text-accent { color: rgb(var(--accent)); }
.bg-accent { background-color: rgb(var(--accent)); }
.border-accent { border-color: rgb(var(--accent)); }
.shadow-accent { shadow-color: rgba(var(--accent), 0.2); }

.recharts-wrapper .recharts-surface:focus {
  outline: none;
}

.recharts-rectangle:focus, 
.recharts-pie-sector:focus {
  outline: none;
}